body{
    /* Definindo a imagem de fundo e algumas propriedades relacionadas */
    background-image: url('https://w.forfun.com/fetch/0b/0beda392ad5353d582382a78bd98e37e.jpeg'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho real da sua imagem */
    background-size: cover; /* Para cobrir toda a área do elemento pai */
    background-position: center; /* Para centralizar a imagem */
    /* Outras propriedades de estilo, como cor de texto, margens, etc., podem ser adicionadas conforme necessário */
}

nav 
{
background: linear-gradient(to right, #08002c, #08002c);
}
.carousel-item
{
height: 60%;
}

img#imagepic{
width: 50px;
height: 50px;
border-radius: 50px;
border: 2px solid white;
}
h2
{
display: flex;
justify-content: center;
}

.card-img-top
{
width: 300px;
height: 400px;
object-fit: cover;
}
.btn-red 
{
background-color: red !important;
color:rgba(255, 255, 255, 0.925) !important;
}
#outlook
{
padding-top: 15px;
}
.contato
{
padding-left: 15px;
margin: auto;
font-size: 20px; 
}

.floatWa {
position:fixed;
width:60px;
height:60px;
bottom:40px;
right:40px;
background-color:#25d366;
color:#FFF;
border-radius:50px;
text-align:center;
font-size:30px;
box-shadow: 1px 1px 2px #888;
z-index:1000;
}

.img16 {
margin-top:16px;
}
.navbar{
position: absolute;
}

.centralizar{
margin-left: 35%;
}